body {
    background-color: black;
    font-family: 'Changa One', cursive;
}

span {
    color: gold;
}

.credits-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 10px 10px;
    font-size: 20px;
    flex-direction: column;
    line-height: 30px;
    background-color: rgb(76, 60, 58);
    border-radius: 15px;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#audioContainer {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: antiquewhite;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #4C3C3A;
    color: #4C3C3A;
}

#quitButton {
    margin-top: 20px;
    background-color: #4C3C3A;
    color: antiquewhite;
    font-size: 24px;
    border-radius: 15px;
    height: 50px;
    width: 150px;
}

#gameOver {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 72px;
    color: white;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

#canvasParent {
    display: inline-block;
    position: relative;
}

#resourceBackground {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 80px;
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

#resourceContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 8px;
}

#coinContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#heartContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#scoreContainer {
    display: flex;
    align-items: center;
}

#heartPic {
    width: 35px;
    color: red;
    margin-right: 5px;
}

#coinPic {
    width: 25px;
    color: gold;
    margin-right: 5px;
}

#heartsRemaining {
    font-size: 36px;
    color: white;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

#coinsRemaining {
    font-size: 36px;
    color: white;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

#score {
    font-size: 36px;
    color: white;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

#inputId {
    width: 60%;
    padding: 7px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 5px;
    border-color: #4C3C3A;
}

#submitId {
    background-color: antiquewhite;
    color: #4C3C3A;
    font-size: 12px;
    border-radius: 15px;
    height: 25px;
    width: 75px;
}