body {
    background-image: url("../img/map.png");
    background-size: cover;
    font-family: 'Changa One', cursive;
}

.startScreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.leaderboardTable {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 400px;
}

.leaderboardTable thead tr {
    text-align: left;
    font-weight: bold;
}

.leaderboardTable th,
.leaderboardTable td {
    padding: 12px 15px;
}

#loreBox {
    width: 80%;
    background-color: aliceblue;
    height: 200px;
    margin: auto;
}

#controlBox {
    width: 50%;
    background-color: aqua;
    height: 300px;
    margin: auto;
}

#leaderboardBox {
    width: 50%;
    background-color: chartreuse;
    height: 300px;
    margin: auto;
}

#startBox {
    width: 50%;
    background-color: lightpink;
    height: 100px;
    margin: auto;
}

#startButton {
    margin-top: 40px;
}