body {
    background-image: url("../img/map.png");
    background-size: cover;
    font-family: 'Changa', sans-serif;
}

.startScreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.leaderboardTable {
    border-collapse: collapse;
    margin: auto;
    min-width: 350px;
}

.leaderboardTable thead tr {
    text-align: left;
    font-weight: bold;
}

.leaderboardTable th,
.leaderboardTable td {
    padding: 3px 5px;
}

#loreBox {
    width: 80%;
    background-color: antiquewhite;
    color: #4C3C3A;
    height: 200px;
    margin: auto;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#controlBox {
    width: 48%;
    background-color: antiquewhite;
    color: #4C3C3A;
    height: 300px;
    margin: auto;
    border-radius: 15px;
}

#leaderboardBox {
    width: 48%;
    background-color: antiquewhite;
    color: #4C3C3A;
    height: 300px;
    margin: auto;
    border-radius: 15px;
}

#startBox {
    width: 50%;
    height: 100px;
    margin: auto;
}

#startButton {
    margin-top: 20px;
    background-color: antiquewhite;
    color: #4C3C3A;
    font-size: 24px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
}