body {
    background-color: black;
    font-family: 'Changa One', cursive;
}

#gameOver {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 72px;
    color: white;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

#canvasParent {
    display: inline-block;
    position: relative;
}

#resourceContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 8px;
}

#heartPic {
    width: 35px;
    color: red;
    margin-right: 5px;
}

#heartsRemaining {
    font-size: 36px;
    color: white;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}